.ion-title{ 
    text-align: center;
    font-size: 110%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.mensaje{
    text-align: center;
    color: firebrick;
    font-weight: 110%;
}