<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button
      defaultHref="/login"
      color="primary"
      text="Volver"
      mode="ios"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding"  color="warning">
  <ion-title class="ion-title">Recupera tu Contraseña</ion-title>
  <br>
  <form #formulario="ngForm" (ngSubmit) ="onSubmit()">
    <ion-item lines="full"  color="warning">
      <ion-label position="floating">Email o Usuario</ion-label>
      <ion-input type="email" background color="success" name="recupera" [(ngModel)]= "recuperar.password" required></ion-input>
    </ion-item>
    <br>
    <ion-row>
      <ion-col>
        <ion-button [disabled] ="formulario.invalid" type="submit" color="danger" expand="block" routerLink="/login">Enviar</ion-button>
      </ion-col>
    </ion-row>
    <br>
    <small class="mensaje">
      Por favor proporcione su usuario o email que registro en Cocinero Universitario para recuperar su clave.
    </small>
  </form>
</ion-content>
