<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
      defaultHref="/inicio"
      color="primary"
      text="Volver"
      mode="ios"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>    
</ion-header >


<ion-content class="ion-padding" color="warning">
  <ion-card>
    <ion-card-content>
      <ion-img src="/assets/discipulo.png"></ion-img><br>
      <ion-card-title class="titulo"><b>El discipulo del chef</b></ion-card-title>
      <p class="ion-padding p">
        El discípulo del chef es un programa de televisión gastronómico que busca al mejor cocinero 
        amateur de Chile. <br><br>Chilevisión produce el programa en colaboración con Turner Latinoamérica. 
        Se estrenó en Chilevisión el 6 de octubre de 2019, y en esta oportunidad esta en transmisión
        la tercera temporada de celebridades de Chile, su horario es Miercoles y Jueves a las 22:30 Hrs.

      <ion-button color="success" class="ion-padding boton" href="https://www.chilevision.cl/el-discipulo" target="_blank">
        <ion-icon slot="start" name="chevron-up-circle-outline"></ion-icon>
          Ver más
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-img src="/assets/masterchef.jpg"></ion-img><br>
      <ion-card-title class="titulo"><b>MasterChef Celebrity 2021</b></ion-card-title>
      <p class="ion-padding p">
        MasterChef Celebrity es uno de los programas nocturnos que mayor sintonia tiene junto al Discipulo del 
        chef (Chilevision), cabe destacar que ha sido uno de los programas que mayores temporadas han sido transmitidas
        en la TV chilena. <br><br> Los chefs que han pasado por esas cocinas han sido Yan Yivin, Jorge Rauch,  Fernanda Fuentes y
        Chris Carpentier. El horario de la 2da temporada de MasterChef Celebrity Chile son los Miercoles y Domingos a las 22:30 Hrs. 

      <ion-button color="primary" class="ion-padding boton" href="https://www.13.cl/programas/masterchef-celebrity" target="_blank">
        <ion-icon slot="start" name="chevron-up-circle-outline"></ion-icon>
          Ver más
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-img src="/assets/selenachef1.jpg"></ion-img><br>
      <ion-card-title class="titulo"><b>Selena + Chef</b></ion-card-title>
      <p class="ion-padding p">
        Selena + Chef es un programa de cocina de televisión estadounidense por streaming presentado por 
        Selena Gomez, que se estrenó en la plataforma de vídeo bajo demanda HBO Max el 13 de agosto de 2020.<br><br>
        La primera temporada consta de 10 episodios.​ En agosto de 2020, la serie se renovó para una segunda 
        temporada.​ Diviértete con Selena Gómez cuando invita a chefs magistrales a su cocina para que 
        le enseñen todos los aspectos de la cocina por videochat, por medio de HBO MAX.


      <ion-button color="danger" class="ion-padding boton" href="https://www.hbomax.com/cl/es/series/urn:hbo:series:GXxiTeAijaTFAlwEAAADX" target="_blank">
        <ion-icon slot="start" name="chevron-up-circle-outline"></ion-icon>
          Ver más
      </ion-button>
    </ion-card-content>
  </ion-card>


</ion-content>